@{
    ViewBag.Title = "Home Page";
    ViewBag.Layout = "~/Shared/_Layout.cshtml";
}

<div class="home_container">
    <div id="welcome_header">
        Welcome to DarkEden!
    </div>
    <div id="welcome_content">
        <p>Lorum Ipsum stuff goes here as a filler.</p>
    </div>
</div>
