@{
    ViewBag.Title = "Home Page";
    ViewBag.Layout = "~/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/Styles/HomeSS.css" type="text/css" rel="stylesheet" />
<div class="home_container">
    <div id="welcome_header">
        Welcome
    </div>
    <div id="welcome_content">
        <p>Welcome to our DarkEden website!</p>
        <p>We are happy to service your DarkEden character account with all the various items we have for sale.  If you find an item you need is not for sale, please don't hesitate to contact us!</p>
    </div>
</div>
