html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html{
    background-image:url("../Images/common_bg_main_201407.jpg");
    margin: 0 auto !important;
    float: none !important;
    min-width: 1000px;
    background-color: #FFF;
    background-repeat: no-repeat;
}
body{
    max-height: 1000px;
}

.home_container{
    margin-left: 30%;
    position: absolute;
    width: 730px;
    height: 500px;
    background-image: url("../Images/Common_Background.png");
    color: whitesmoke;
}

header img{
    display:inline-block;
    margin: auto 600px;
    width: 40%;
    position: static;
    top: 60px;
}

nav{
    background-color: #000;
    background: url("../Images/bg-pag.jpg") repeat;
    text-align: center;
    height: 20px;
    width: 100%;
    margin-top: 0%;
}

nav a{
    color: black;
    font-size: 14pt;
    padding-right: 20px;
}

nav a:link{
    text-decoration:none;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Century Gothic';
}

#catalog{
    left: 80px;
    position: absolute;
}

#management_link{
    position: relative;
    top: 300px;
}

#product_image img{
    width: 200px;
    height: 200px;
    position: absolute;
}

#product_info{
    position: absolute;
    left: 300px;
    width: 300px;
    font-size: 18px;
}

#product_info label{
    text-align: justify;
}

#product_info ul{
    list-style-position: inside;
}

.itemclass_header{
    font-size: 30px;
}

#vampItems{
    position: relative;
    height: 100px;
}

.itemMarket figure{
    position: relative;
    display:inline-block;
    left: 40px;
    width:100px;
    height:100px;
    padding-right: 80px;
    text-align: center;
}



footer{
    text-align:center;
    color: #000;
    bottom: 10%;
    left: 30%;
    position: fixed;
}
