@model ECommerceSite.Models.Product

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="home_container">
    <div id="catalog">
        <h1 class="itemclass_header">Add @Model.Name</h1>
        <div id="vampItems">
           @using (Html.BeginForm())
           {
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel", "ItemIndex", "Items")
           }
        </div>
    </div>
</div>
