@model ECommerceSite.Models.Product

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="home_container">
    <div id="catalog">
        <h1 class="itemclass_header">Remove @Model.Name?</h1>
        <div id="vampItems">
            <h2>Please confirm you wish to remove item:</h2>
            <ul>
                <li><h3>@Model.Name</h3></li>
            </ul>
            @using (Html.BeginForm())
            {
                if (User.Identity.IsAuthenticated)
                {

                    <input name="confirmButton" type="submit" value="Delete" />
                    @Html.ActionLink("Cancel", "ItemIndex", "Items")
                }
            }
        </div>
    </div>
</div>
